{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

<header class="header" id="header">
 <div class="navbar">
        <div class="logo">
            <img src="{% static 'image/Favicon.ico' %}" alt="Logo">
        </div>
        <div class="nav-links">
            <a class="nav-link" href="{%url 'home'%}">Home</a>
            <a class="nav-link" href="{%url 'about'%}">About Us</a>
            <a class="nav-link" href="#">Products</a>
            <a class="nav-link" href="#">Contacts</a>
        </div>


        <div class="nav_buttons">
            <a href="search.html"><i class="ri-search-line"></i></a>
            <a href="cart.html"><i class="ri-shopping-cart-2-line"></i><span>(3)</span></a>
            <div id="user-btn">
                <i class="ri-user-3-fill"></i>
        </div>
    </div>
</header>


{% block content %}

{% endblock content %}
